piece:
  tonic: C
  scale_type: major
  cantus_firmus:
    - C4
    - D4
    - E4
    - C4
    - A3
    - B3
    - C4
    - G4
    - E4
    - C4
    - D4
    - C4
  counterpoint_specifications:
    start_note: G4
    end_note: C5
    lowest_note: C4
    highest_note: C6
    start_pause_in_eights: 4
    max_skip_in_degrees: 7
  rules:
    names:
      - rhythmic_pattern_validity
      - rearticulation_stability
      - absence_of_stalled_pitches
      - absence_of_long_motion
      - absence_of_skip_series
      - turn_after_skip
      - VI_VII_resolution
      - step_motion_to_end
      - consonance_on_strong_beat
      - step_motion_to_dissonance
      - step_motion_from_dissonance
      - resolution_of_suspended_dissonance
      - absence_of_large_intervals
      - absence_of_lines_crossing
    params:
      absence_of_stalled_pitches:
        max_n_repetitions: 2
      absence_of_long_motion:
        max_distance_in_semitones: 9
      absence_of_skip_series:
        max_n_skips: 2
      turn_after_skip:
        min_n_scale_degrees: 3
      step_motion_to_end:
        prohibit_rearticulation: true
      absence_of_large_intervals:
        max_n_semitones: 16
      absence_of_lines_crossing:
        prohibit_unisons: true
  rendering_params:
    dir: rlmusician_data
    measure_in_seconds: 1.0
    midi:
      cantus_firmus_instrument: 0
      counterpoint_instrument: 0
      velocity: 100
    sinethesizer:
      cantus_firmus_timbre: default_timbre
      counterpoint_timbre: default_timbre
      volume: 0.3
environment:
  scoring_coefs:
    climax_explicity: 1
    entropy: 1
    looped_fragments: 1
    number_of_skips: 1
  scoring_fn_params:
    climax_explicity:
      shortage_penalty: 0.3
      duplication_penalty: 0.5
    looped_fragments:
      min_size: 8
      max_size:
    number_of_skips:
      min_n_skips: 1
      max_n_skips: 3
  reward_for_dead_end: -3
agent:
  beam_width: 5
  n_records_to_keep: 10
  n_trials_schedule:
    - 10000
    - 10000
    - 10000
    - 5000
    - 5000
    - 5000
    - 1000
    - 1000
    - 1000
    - 100
  paralleling_params:
    n_processes:
