piece:
  tonic: C
  scale: major
  n_measures: 16
  max_skip: 3
  line_specifications:
    - lowest_note: C4
      highest_note: E5
      start_note: G4
      end_note: C4
    - lowest_note: G4
      highest_note: C6
      start_note: C5
      end_note: C5
  rendering_params:
    dir: rlmusician_data
    measure_in_seconds: 1.0
    midi:
      instrument: 0
      velocity: 100
    sinethesizer:
      timbre: default_timbre
      volume: 0.3
environment:
  observation_decay: 0.75
  reward_for_dead_end: -3
  scoring_coefs:
    climax_explicity: 3
    pitch_class_clashes: 3
    looped_pitches: 1
    types_of_motion: 1
    number_of_skips: 1
  scoring_fn_params:
    climax_explicity:
      shortage_penalty: 0.3
      duplication_penalty: 0.5
    looped_pitches:
      max_n_repetitions: 2
    types_of_motion:
      parallel_coef: -1
      similar_coef: -0.5
      oblique_coef: 0
      contrary_coef: 1
    number_of_skips:
      min_n_skips: 1
      max_n_skips: 3
agent:
  hidden_layer_size: 10
  softmax_temperature: 0.1
crossentropy:
  population_size: 100
  elite_fraction: 0.1
  smoothing_coef: 0.25
  std: 0.25
  n_trials: 10
  aggregation_fn: mean
  parallelling_params:
    n_processes:
    max_tasks_per_child: 1
